
<h1>Welcome to the volunteer project tracker</h1>

<hr>
<div class="container">
  <button type="button" name="button"><a href="/">Home</a></button>
  <button type="button" name="button"><a href="/projects">View all projects</a></button>
  <button type="button" name="button"><a href="/volunteers">View all volunteers</a></button>
  <button type="button" name="button"><a href="/projects/new">Add a new project</a></button>
</div>
