
<h1>Welcome to the volunteer project tracker</h1>

<div class="container">
  <button type="button" name="button"><a href="/projects">Projects</a></button>
  <button type="button" name="button"><a href="/projects/new">Add a New Project</a></button>
</div>
