<p>Create a new list:</p>

<form action="/lists_form" method="post">
  <label for="name">Assign a new to your list: </label>
  <input id="name" name="name" type="text">

  <button type="submit">Add List</button>
</form>
