<h3>Create a new project:</h3>

<form action="/projects_form" method="post">
  <label for="name">Add a new project: </label>
  <input id="name" name="name" type="text">

  <button type="submit">Add</button>
</form>
