<p>Create a new project:</p>

<form action="/projects_form" method="post">
  <label for="name">Assign a new to your project: </label>
  <input id="name" name="name" type="text">

  <button type="submit">Add</button>
</form>
