<h1>Your Current projects</h1>

<% if @projects.any?() %>
  <h3>Your projects: </h3>
  <ul>
    <% @projects.each() do |project| %>
    <li><a href="/projects/<%= project.id() %>"><%= project.name() %></a></li>
    <% end %>
  </ul>


<% else %>
  <p>There are no projects yet!</p>
<% end  %>
<hr>
<button class="button"><a href="/">Return Home</a></button>
<button type="button" name="button"><a href="/projects/new">Add a New Project</a></button>
