 
<h1>Update the list of volunteers: </h3>
  <%=@volunteer.all() %>

<form class="" action="/volunteers/<%= @volunteer.id()%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete</button>
</form>
